<div class = "session-content">
  <%= form_with(scope: :session, url: sessions_path, local:true, class:"form-signin") do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  
    <%= form.label :email %>
    <%= form.text_field :email, type:"email", class:"form-control" %>
  
    <%= form.label :password %>
    <%= form.text_field :password, type:"password", class:"form-control" %>
  
    <%= form.submit "ログイン", class:"btn btn-lg btn-primary btn-block" %>
    
    <div class="btn btn-light">
      <%= link_to 'アカウント登録', new_user_path %> 
    </div>
  <% end %>
</div>
