<h1>画像投稿</h1>
<%# <%= form_with(model: @images, local: true, url: images_path) do |form| %> %>
  <%# <%= form.label :coment %> %>
  <%# <%= form.text_field :coment %> %>

<%# <% end %> %>
<%= render 'form', feed: @feed %>
<%= link_to 'Back', images_path %>
