<p id="notice"><%= notice %></p>

<p>
  
  <strong><h2>coment:</h2></strong>
  <%= @feed.coment%>
  <strong><h2>Image:</h2></strong>
  <%= image_tag @feed.image.url %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', images_path %>
