<p id="notice"><%= notice %></p>

<p>
  <strong><h2>coment:</h2></strong>
  <%= @picture.coment%>
  <strong><h2>Image:</h2></strong>
  <%= image_tag @picture.image.url %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', images_path %>
