<%= link_to "ログアウト", new_session_path%>
<h1><%= @current_user.name %>のマイページです</h1>



<%= form_with(model: @images, local: true, url: users_path) do |form| %>
  <% @images.each do |image| %>
  <table>
    <tr>
      <th><%= form.label :coment %></th>
      <th><%= form.label :updated_at %></th>
      <th><%= form.label :created_at %></th>
    </tr>
    <tr>
      <td><%= image[:coment]%></td>
      <td><%= image[:created_at]%></td>
      <td><%= image[:updated_at]%></td>  
    </tr>
  </table>
  <% end %>
<% end %>


